body { 
	color: #421; font-weight: bold; font-size: 18px; background: #EE4; 
	background-repeat: repeat-y; 
}
span { 
	color: #711; 
} 
::-webkit-input-placeholder { 
	color: #711 
}


#input { 
	border: 0; background: #EBE547; padding: 5px; border: 1px solid #421; width:80%; margin-left: 20px; 
}
#send{
	border: 0; padding: 5px; border: 1px solid #421; 	
}
.feedback_line{
	width:100%; text-align: right;
}
#feedback{
	border: 0; padding: 5px; border: 1px solid #421; padding:5px; margin-top:10px; margin-right:25px;
}
.chatbox{
	width:500px;
	min-width: 350px;
	height:600px;
	background-color: #fff;
	padding:25px;
	margin:20px auto;
	box-shadow: 0 3px #ccc;
}
.chatbox .chatlogs{
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	width: 100%;
	height: 450px
}

.chatbox .chatlogs::-webkkit-scrollbar{
	weidth:10px;
}

 .chatbox .chatlogs:: -webkit-scrollbar-thumb {
 	border-radius: 5px;
 	background-color: rgba(0,0,0,.1);
 }


.chat{
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
	margin-botton:10px;
}

.chat .chat-message{
	width:75%;
	padding: 10px;
	margin:5px;
	background-color: yellow;
	border-radius: 10px;
	font-size: 18px; 
}

.chat .user-name{
	width: 60px;
	height:60px;
	background-color: #ccc;
	color:#0000CD;
	border:1px;
	border-radius: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align:center;
}

.bot .chat-message{
	background: #00FFFF;
	order : -1;
}
.user .chat-message{
	background: #00FF00;
}